@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat Alternates", sans-serif;
}
.sidebody {
  background: #011627 !important;
  width: 300px !important;
  min-width: 300px !important;
  color: #0d0f13;
}
.sidebody1 {
  width: 350px !important;
  min-width: 350px !important;
  background: #011627 !important;
  padding: 10px 22px;
}

.contentBody {
  width: 697px !important;
}
.LogoBody h1 {
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
}
.iconsColor {
  width: 18%;
  height: 34px;
}
.iconCaurselBody {
  width: 6%;
  height: 37px;
  justify-content: center;
  align-items: center;
  display: flex;
  background: #ffffff;
  border-radius: 100%;
}
.iconsColorCaurosel {
  width: 70%;
  height: 64px;
  font-weight: 600;
  color: purple;
}
.iconsColor3 {
  width: 20%;
  margin-top: -14px;
  height: 64px;
  color: #ffffff;
}
.btnBody {
  padding: 11px !important;
  border: none !important;
  background: rgb(122 57 163) !important;
  width: 50px;
  height: 50px !important;
  color: rgb(225, 235, 253) !important;
}
.listBody {
  display: flex;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff !important;
  padding: 4px 8px 4px 20px;
}
.listMain,
.listMain::after {
  background: #011627 !important;
  border: none !important;
}
.listMain li:focus,
.listMain li::after {
  background-color: #011627 !important;
  border: none !important;
}
.menuMain2 {
  background: #011627 !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #ffffff;
  align-items: center;
}

.storyProfile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.storyProfile h2 {
  font-size: 13px;
  line-height: 24px;
  font-weight: 600;
  color: #011627 !important;
}

.menu1 {
  width: 100%;
  height: 14vh;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.menu2 {
  width: 100%;

  height: 34vh;
}
.menu3 {
  width: 100%;
}

.inputBody {
  display: flex;
  justify-content: center;
  background: rgb(225, 235, 253);
  border: 3px solid rgb(225, 235, 253);
  border-radius: 20px;
  padding: 4px;
}
.iconsColor1 {
  width: 12%;
  height: 30px;
  color: #011627;
}
.search {
  padding: 2px;
  border: none;
  background: rgb(225, 235, 253);
  outline: none;
  color: #0d0f13;
  font-weight: 500;
}
.menuList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.p1 {
  font-weight: 500;
  font-size: 16px;
  color: #ffffff;
}

.p2 {
  font-weight: 500;
  font-size: 16px;
  color: rgb(225, 235, 253);
}

.menu2 ul {
  width: 100%;
}
.menu2 ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  width: 100%;
  gap: 26px;
  height: 13vh;
  padding: 2px;
}
.usersAvater {
  display: flex;
  gap: 8px;
  align-items: center;
}
.userBody {
  display: flex;
  height: 27px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 5px;
}
.p3 {
  font-size: 12px;
  font-weight: 500;
}
.p4 {
  font-size: 10px;
}
.btnFollow {
  background: #ffffff !important;
  color: rgb(122 57 163) !important;
  font-weight: 500 !important;
  width: 7rem;
  border: 2px solid rgb(122 57 163) !important;
}
.btnFollow1 {
  background: rgb(122 57 163) !important;
  color: #ffffff !important;
  font-weight: 500 !important;
  width: 7rem;
  border: 2px solid rgb(122 57 163) !important;
}

.btnTweet {
  width: 100% !important;
  height: 8vh !important;
  text-align: center !important;
  padding: 21px !important;
  display: flex !important;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 27px !important;
  font-weight: 500 !important;
  background: rgb(122 57 163) !important;
  border: rgb(122 57 163) !important;
}
.dropdownBody {
  width: 100% !important;
  height: 8vh !important;
  font-size: 17px;
  font-weight: 600 !important;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 14px;
  align-items: center;
  color: #ffffff !important;
}
.dropdownIcon {
  width: 25px;
}
.listMain1 {
  background: #011627 !important;
  border: none !important;
  height: 28vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 84px;
  align-items: center;
}
.caurosel {
  display: flex;
  width: 82%;
  padding: 10px;
  margin-top: 29px;
  overflow: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  gap: 15px;
  scroll-padding: 0 24px;
}

.caurosel .items {
  scroll-snap-align: start;
  list-style: none;
}

.dropdownIconCard {
  width: 25px;
  color: #0d0f13;
}

.CardBody {
  background: #ffffff;
  width: 550px;
  height: auto;
  border-radius: 5px;
}
.CardBody .CardTop {
  width: 100%;
  height: 10vh;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.CardTop .Top1 {
  display: flex;
  gap: 10px;
  align-items: center;
}

.Top1 p {
  font-size: 14px;
  font-weight: 600;
  color: #0d0f13;
  display: contents;
  text-align: center;
}
.CardBody .CardDivider {
  margin: 0px !important;
}

.CardBody .CardImg {
  width: 100%;
  height: 370px;
}
.CardBody .CardImg .imgCard {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.CardBody .CardContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.CardBody .CardContent .Content1 {
  width: 100%;
  height: 60px;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.CardBody .CardContent .Content1 .Content1A {
  display: flex;
  gap: 10px;
  align-items: center;
}
.btnCard {
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent !important;
  border: none !important;
  outline: none !important;
  padding: 1px !important;
  box-shadow: none !important;
}
.btnIconCard {
  width: 25px;
  color: #0d0f13;
}
.Content2 {
  width: 100%;
  height: auto;
  padding: 6px 20px;
}
.Content2 ul {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.Content2 ul li {
  list-style: none;
  width: 100%;
  height: fit-content !important;
}
.Content2A {
  font-size: 14px;
  font-weight: 600;
}
.Content2B {
  font-size: 14px;
  font-weight: 600;
}
.Content2B p {
  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
  line-break: auto;
}
.Content2C {
  font-size: 13px;
  font-weight: 400;
}
.Content2D {
  font-size: 10px;
  font-weight: 500;
}
.Swipper-container {
  width: 100%;
}

.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 5px !important;
  width: 6% !important;
  color: rgb(122 57 163) !important;
  height: 32px !important;
  background: #ffffff !important;
  border-radius: 100%;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10px;
  left: auto;
  width: 6% !important;
  color: rgb(122 57 163) !important;
  height: 32px !important;
  background: #ffffff !important;
  border-radius: 100%;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: swiper-icons;
  font-size: 22px !important;
  font-weight: 900;
  text-transform: none !important;
  letter-spacing: 0;
  font-variant: initial;
  line-height: 1;
}
.swiper-slide {
  width: 95px !important;
}
.swiper {
  margin-left: auto;
  margin-right: auto;
  width: 90% !important;
  position: relative;
  overflow: hidden;
  list-style: none;
  padding: 2px 27px !important;
  z-index: 1;
}
.TopNav {
  width: 100%;
  height: 55px;
  background: #011627;
  color: #ffffff;
  display: flex;
  display: none;
  position: fixed;
  top: 0;
  padding: 20px;
}

.TopNav ul {
  width: 100%;
  display: flex;
}

.TopNav ul li {
  list-style: none;
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottomNav {
  width: 100%;
  height: 55px;
  background: #011627;
  color: #ffffff;
  display: flex;
  display: none;
  position: fixed;
  bottom: 0;
  padding: 20px;
}
.bottomNav ul {
  width: 100%;
  display: flex;
}

.bottomNav ul li {
  list-style: none;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconBodyNav {
  width: 28px;
  color: #ffffff;
}

@media (max-width: 992px) {
  .sidebody {
    display: none !important;
  }
  .swiper {
    width: 100% !important;
  }
  .rightSidebar {
    display: none !important;
  }
  .site-layout {
    padding-top: 50px !important;
    margin-left: 0px !important;
  }
  .headerbody1 {
    padding: 11px 68px !important;
    height: 120px;
    width: 100% !important;
  }
  .contentBody {
    width: 100% !important;
  }

  .bottomNav {
    width: 100%;
    height: 55px;
    background: #011627;
    color: #ffffff;
    display: flex;
    position: fixed;
    bottom: 0;
    padding: 4px;
  }

  .bottomNav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .bottomNav ul li {
    list-style: none;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .TopNav {
    width: 100%;
    height: 55px;
    background: #011627;
    color: #ffffff;
    display: flex;
    z-index: 1000;
    position: fixed;
    align-items: center;
    justify-content: center;
    top: 0;
    padding: 10px;
  }
  .TopNav ul {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .TopNav ul li {
    list-style: none;
    width: 20%;
    height: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .iconBodyNav {
    width: 28px;
    color: #ffffff;
  }
  .iconBodyNav1 {
    width: 32px;
    color: #ffffff;
  }
  .btnTopNav {
    background: transparent !important;
    display: flex !important;
    border: none !important;
    height: 100% !important;
  }
}

@media (max-width: 768px) {
  .headerbody1 {
    padding: 10px 0px !important;
    height: 120px;
    width: 100% !important;
  }
}

@media (max-width: 576px) {
  .headerbody1 {
    padding: 10px 10px !important;
    height: 120px;
    width: 100% !important;
  }
  .swiper {
    width: 100% !important;
    padding: 0px !important;
  }
  .swiper-slide {
    width: 60px !important;
    margin-right: 20px !important;
  }
  .swiper-button-prev,
  .swiper-rtl .swiper-button-next {
    left: 5px !important;
    width: 10% !important;
    color: rgb(122 57 163) !important;
    height: 31px !important;
    background: #ffffff !important;
    border-radius: 100%;
  }
  .swiper-button-next,
  .swiper-rtl .swiper-button-prev {
    right: 10px;
    left: auto;
    width: 10% !important;
    color: rgb(122 57 163) !important;
    height: 31px !important;
    background: #ffffff !important;
    border-radius: 100%;
  }
  .swiper-button-next:after,
  .swiper-button-prev:after {
    font-family: swiper-icons;
    font-size: 19px !important;
    font-weight: 900;
  }
  .bottomNav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    gap: 45px;
  }
}

@media (max-width: 480px) {
  .headerbody1 {
    padding: 10px 6px !important;
    height: 120px;
    width: 100% !important;
  }
  .swiper {
    width: 100% !important;
    padding: 2px !important;
  }
  .swiper-slide {
    width: 60px !important;
    margin-right: 22px !important;
  }
  .bottomNav ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;
    gap: 30px;
  }
  .iconBodyNav {
    width: 24px;
    color: #ffffff;
  }
}
